{{#each this}}
<li>
    <h3>{{title}}</h3>
    <img width="200px" src="{{image}}" alt="{{title}}">
    <ul>
        {{#each ingredients}}
        <li>1</li>
        {{/each}}
    </ul>
    <div>
        <p>{{description}}</p>
        <p>{{price}}$</p>
    </div>
</li>
{{/each}}